<p id="notice"><%= notice %></p>

<div class="center">
  <div class="row">
    <% @listings.shuffle.each do |listing| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <%= image_tag listing.image.url %>
          <div class="caption">
            <h3><%= listing.name_english %></h3>
            <!-- <h3><%#= listing.name_spanish %></h3> -->
            <p>Product code: <%= listing.id %>&nbsp&nbsp<%= number_to_currency((listing.price_euro / 100), unit: "€" ) %></p>

            <%= link_to 'Show', listing, class: "btn btn-link" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Product', new_listing_path, class: "btn btn-link" %>


