<p id="notice"><%= notice %></p>

<div class="center">
  <h1><%= @title %> </h1><br>
  <div class="container-fluid">
    <div class="row">
      <% @listings.each do |listing| %>
        <!-- colums:    2        3        3        3  -->
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
          <div class="thumbnail">
            <%= link_to listing_path(listing) do %>
                <%= image_tag listing.image.url(:medium), width: '100%' %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<br>
<%= will_paginate @listings, :previous_label => ' < ', :next_label => ' > ', renderer: BootstrapPagination::Rails %>
<br>


<% if !current_user.nil? && current_user.has_manager %>
  <%= link_to 'New Product', new_listing_path, class: "btn btn-success" %>
<% end %>


