<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-6">
    <div class="thumbnail">
      <%= image_tag @listing.image.url %>
    </div>
  </div>
  <div class="col-md-6">
    <p>Product code: <%= @listing.id %></p>
    <h3><%= @listing.name_english %></h3>
    <h3><%= @listing.name_spanish %></h3>
    <p><%= @listing.description_english %></p>
    <p><%= @listing.description_spanish %></p>
    <p>Weight: <%= @listing.weight %> gm</p>
    <p>EU Price: <%= number_to_currency((@listing.price_euro / 100.0), unit: "€" ) %></p>
    <p>GB Price: <%= number_to_currency((@listing.price_gbp / 100.0), unit: "£" ) %></p>
    <p>US Price: <%= number_to_currency((@listing.price_dollar / 100.0), unit: "$" ) %></p>
    <%= link_to 'Edit Product', edit_listing_path(@listing), class: "btn btn-primary" %>
    <br>
    <br>
    <%= link_to 'Delete Product', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
  </div>
</div>


<%= link_to 'Back', listings_path, class: "btn btn-link" %>
