<p id="notice"><%= notice %></p>

<p>
  <strong>Name english:</strong>
  <%= @listing.name_english %>
</p>

<p>
  <strong>Name spanish:</strong>
  <%= @listing.name_spanish %>
</p>

<p>
  <strong>String:</strong>
  <%= @listing.string %>
</p>

<p>
  <strong>Description english:</strong>
  <%= @listing.description_english %>
</p>

<p>
  <strong>Description spanish:</strong>
  <%= @listing.description_spanish %>
</p>

<p>
  <strong>Size english:</strong>
  <%= @listing.size_english %>
</p>

<p>
  <strong>Size spanish:</strong>
  <%= @listing.size_spanish %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @listing.weight %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
