<p id="notice"><%= notice %></p>

<p>
  <strong>Name english:</strong>
  <%= @category.name_english %>
</p>

<p>
  <strong>Name spanish:</strong>
  <%= @category.name_spanish %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
